/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333; /* Mejor contraste para el texto */
}

/* Header */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 12px 20px; /* Aumentado el tamaño de los botones de navegación */
    background-color: #333; /* Fondo oscuro para mejorar el contraste */
    border-radius: 4px;
}

nav ul li a.active {
    background-color: green;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
}

/* Button */
button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 30px; /* Aumentado el tamaño de los botones */
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; /* Aumentado el tamaño de la fuente */
}

button:hover {
    background-color: darkgreen; /* Añadido efecto de hover para mejor accesibilidad */
}

/* Footer */
footer {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
}

.footer-column h3 {
    color: #333;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px; /* Tamaño de fuente aumentado para facilitar la lectura */
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 15px; /* Aumentado el espacio entre los íconos sociales */
}

.social-icons img {
    width: 30px; /* Aumentado el tamaño de los íconos */
    height: 30px;
}
